---
title: Index
---

{% for lang in site.data.lang-names %}
	{% assign langs = langs | append: lang[1] | append: "," %}
{% endfor %}
{% assign langs = langs | split: "," | sort_natural %}
{% for lang in langs %}
	<div class="section-title" id="{{ lang }}">
		<a href="#{{ lang }}">{{ lang }}</a>
	</div>
	<div class="section-body">
		<ul>
			{% assign collection = site.collections | where_exp: "item", "site.data.lang-names[item.label] == lang" %}
			{% assign collection = collection[0] %}
			{% assign index = site[collection.label] | where_exp: "item", "item.url contains 'index.html'" %}
			{% if index[0] %}
				<li><a href="{{ index[0].url | remove: "index.html" }}">{{ index[0].title }}</a></li>
			{% endif %}
			{% for item in site[collection.label] %}
				{% unless item.url contains "index.html" %}
					<li><a href="{{ item.url | remove: ".html" }}">{{ item.title }}</a></li>
				{% endunless %}
			{% endfor %}
		</ul>
	</div>
{% endfor %}

<div class="section-title" id="translating">
	<a href="#translating">Translating</a>
</div>
<div class="section-body">
	<p>
		You can translate on <a href="https://crowdin.com/project/TWiLightMenu">Crowdin</a> or using Crowdin's In-Context on the following pages:
	</p>
	<ul>
		{% assign index = site["In-Context"] | where_exp: "item", "item.url contains 'index.html'" %}
		{% if index[0] %}
			{% assign file = index[0].url | split: "/" | last %}
			{% assign title = site.english | where_exp: "item", "item.url contains file" %}
			<li><a href="{{ index[0].url | remove: "index.html" }}">{{ title[0].title }}</a></li>
			{% endif %}
			{% for item in site["In-Context"] %}
			{% unless item.url contains "index.html" %}
				{% assign file = item.url | split: "/" | last %}
				{% assign title = site.english | where_exp: "item", "item.url contains file" %}
				<li><a href="{{ item.url | remove: ".html" }}">{{ title[0].title }}</a></li>
			{% endunless %}
		{% endfor %}
	</ul>
</div>

<div class="section-title">
	<p>Source Code</p>
</div>
<div class="section-body">
	<p>
		The source code is on <a href="https://github.com/DS-Homebrew/twilight-manual">GitHub</a>.
	</p>
</div>
